.logo-animation svg path {
  fill: transparent;
  stroke: #fff;
  stroke-width: 0.1;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation: logoAnimation 3s ease-in-out 1 forwards;
}
@keyframes logoAnimation {
  0% {
    stroke-dashoffset: 50;
  }
  60% {
    fill: transparent;
  }
  100% {
    fill: #fff;
    stroke-dashoffset: 0;
  }
}

.button-animation {
  animation: buttonAnimation 4s ease-in-out 1 forwards;
}

@keyframes buttonAnimation {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.background-animation {
  animation: zoomIn 4s ease-in-out 1 forwards;
}

@keyframes zoomIn {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

.frame-animation {
  animation: zoomOut 4s ease-in-out 1 forwards;
}

@keyframes zoomOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(5);
  }
}
