@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 37 76% 99%;
    --foreground: 30 15% 18%;

    --muted: 60 30% 92%;
    --muted-foreground: 40 15% 40%;

    --popover: 38 50% 97%;
    --popover-foreground: 30 15% 18%;

    --border: 28 18% 70%;
    --input: 28 18% 70%;

    --card: 37 76% 99%;
    --card-foreground: 30 15% 18%;

    --primary: 18 45% 22%;
    --primary-foreground: 42 45% 96%;

    --secondary: 92 14% 90%;
    --secondary-foreground: 30 15% 18%;

    --accent: 160 46% 90%;
    --accent-medium: 142 48% 72%;
    --accent-foreground: 131 41% 30%;

    --destructive: 0 70% 55%;
    --destructive-foreground: 42 45% 98%;

    --green: 142 28% 72%;
    --green-foreground: 131 51% 30%;

    --blue: 210 50% 65%;
    --blue-foreground: 217 61% 45%;

    --red: 5 70% 76%;
    --red-foreground: 5 65% 44%;

    --yellow: 45 100% 88%;
    --yellow-foreground: 40 100% 55%;

    --ring: 30 25% 50%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: sans-serif;
  }
}
